.Body-Container {
  width: 100%;
  height: 70vh;
  background-color: green;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}
.Form-Container {
  display: block;
  border: 2px solid blue;
  height: 40vh;
  width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}
.Gif-Input-Container {
  /*border: 1px solid yellow;*/
}
.Gif-Search-Field {
  width: 50%;
  height: 5vh;
}
